//-------------------------------------------------------
//- Styleguides :: Buttons
//-------------------------------------------------------

- 
  var buttonTypes = ['primary', 'secondary', 'olight', 'blight']

h2 Buttons Type
.row
  each val in buttonTypes
    .col-3
      .code-example
        .demo
          +buttons({
            text: 'テキストデモ',
            type: val
          })
        pre
          code
            | +buttons({
            |   text: 'テキストデモ',
            |   type: '#{val}'
            | })

//- Buttons :: Disable
h2 Button Disable
.row
  each val in buttonTypes
    .col-3
      .code-example
        .demo
          +buttons-disable({
            text: 'テキストデモ',
            disabled: 'disabled',
            type: val,
          })
        pre
          code
            | +buttons-disable({
            |   text: 'テキストデモ',
            |   disabled: 'disabled',
            |   type: '#{val}'
            | })

//- Buttons :: Size
h2 Button Size
.row
  each item in buttonTypes
    .col-3
      each val in ['xsmall', 'small', 'medium', 'large']
        .code-example
          .demo
            +buttons({
              text:'テキストデモ',
              type: item,
              size: val,
            })
          pre
            code
              |+buttons({
              |  text:'テキストデモ',
              |  type: '#{item}',
              |  size: '#{val}',
              |})

//- Buttons :: Icon
h2 Button Icon
.row
    each item in buttonTypes
      .col-3
        .code-example
          .demo
            +buttons({
              text:'テキストデモ',
              type: item,
              iconFont: "ion-android-done-all"
            })
          pre
            code
                | +buttons({
                |   text:'テキストデモ',
                |   type: '#{item}',
                |   iconFont: "ion-android-done-all"
                | })
.row
    each item in buttonTypes
      .col-3
        .code-example
          .demo
            +buttons({
              text:'テキストデモ',
              type: item,
              size: "small",
              iconFont: "ion-android-done-all"
            })
          pre
            code
                | +buttons({
                |   text:'テキストデモ',
                |   type: '#{item}',
                |   size: "small",
                |   iconFont: "ion-android-done-all"
                | })
  
//- Buttons :: Full size
h2 Button Full size
.row
  each val in buttonTypes
    .col-3
      .code-example
        .demo
          +buttons({
            text: 'テキストデモ',
            type: val,
            size: 'large',
            isFull: true,
          })
        pre
          code
            | +buttons({
            |   text: 'テキストデモ',
            |   type: '#{val}',
            |   size: 'large',
            |   isFull: true,
            | })
